* {
    box-sizing: border-box;
}

body {
    font-family: "Fira Mono";
    background: #333;
    color: white;
}

.header {
    font-size: 16vw;
    padding: 20px 0;
}

.header-container {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 0 15px;
}

.nav-brand {
    display: inline-block;
    font-size: 25px;
    margin: 19px 0;
}

.nav-items {
    padding: 10px;
    float: none;
    display: none;
}

.nav-item {
    list-style-type: none;
    padding: 0px;
    margin: 0 0 0 10px;
    float: none;
}

.nav-button {
    color: inherit;
    text-decoration: none;
}

.nav-dropdown {
    float: right;
    font-size: 25px;
    margin: 19px 0;
}

.nav-button:hover {
    color: black;
    background-color: white;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.container {
    display: inline
}

.row {
    display: table;
}

[class*="col-"] {
    width: 100%;
    padding: 15px;
    float: left;
}

/* Bootstrap inspired media system */
/* Small devices (landscape phones) */
@media (min-width: 576px) {
    .col-1-sm {width: 8.33%;}
    .col-2-sm {width: 16.66%;}
    .col-3-sm {width: 25%;}
    .col-4-sm {width: 33.33%;}
    .col-5-sm {width: 41.66%;}
    .col-6-sm {width: 50%;}
    .col-7-sm {width: 58.33%;}
    .col-8-sm {width: 66.66%;}
    .col-9-sm {width: 75%;}
    .col-10-sm {width: 83.33%;}
    .col-11-sm {width: 91.66%;}
    .col-12-sm {width: 100%;}
}
/* Medium Devices (tablets) */
@media (min-width: 768px) {
    .col-1-md {width: 8.33%;}
    .col-2-md {width: 16.66%;}
    .col-3-md {width: 25%;}
    .col-4-md {width: 33.33%;}
    .col-5-md {width: 41.66%;}
    .col-6-md {width: 50%;}
    .col-7-md {width: 58.33%;}
    .col-8-md {width: 66.66%;}
    .col-9-md {width: 75%;}
    .col-10-md {width: 83.33%;}
    .col-11-md {width: 91.66%;}
    .col-12-md {width: 100%;}
    
    .content {
        width: 768px;
    }
    .header {
        font-size: 92px;
    }
    .nav-item {
        float: right;
    }
    .nav-items {
        float: right;
        display: block;
    }
    .nav-dropdown {
        display: none;
    }
}
/* Large devices (desktops) */
@media (min-width: 992px) {
    .col-1-lg {width: 8.33%;}
    .col-2-lg {width: 16.66%;}
    .col-3-lg {width: 25%;}
    .col-4-lg {width: 33.33%;}
    .col-5-lg {width: 41.66%;}
    .col-6-lg {width: 50%;}
    .col-7-lg {width: 58.33%;}
    .col-8-lg {width: 66.66%;}
    .col-9-lg {width: 75%;}
    .col-10-lg {width: 83.33%;}
    .col-11-lg {width: 91.66%;}
    .col-12-lg {width: 100%;}
    
    .content {
        width: 992px;
    }
    .header {
        font-size: 119px;
    }
}
/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .col-1-xl {width: 8.33%;}
    .col-2-xl {width: 16.66%;}
    .col-3-xl {width: 25%;}
    .col-4-xl {width: 33.33%;}
    .col-5-xl {width: 41.66%;}
    .col-6-xl {width: 50%;}
    .col-7-xl {width: 58.33%;}
    .col-8-xl {width: 66.66%;}
    .col-9-xl {width: 75%;}
    .col-10-xl {width: 83.33%;}
    .col-11-xl {width: 91.66%;}
    .col-12-xl {width: 100%;}
}